# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.*.local
.env.*            # e.g. .env.development, .env.production
!.env.example

# Caches / reports
.eslintcache
.cache/
coverage/

# OS
Thumbs.db
Desktop.ini

# Editor
.vs/
.history/
